<div class="social-wrapper">
  <div class="social " data-pages="social">
    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-social="cover" coverpage>
      <div class="cover-photo" pg-parallax [ngStyle]="{'background-image': 'url(assets/img/policies/energy/cover.jpg)'}">
      </div>
      <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg sm-p-l-0 sm-p-r-0">
        <div class="inner">
          <div class="pull-bottom bottom-left m-b-40 sm-p-l-15">
            <h5 class="text-white no-margin">Policies</h5>
            <h1 class="text-white no-margin">
              <span class="semi-bold">Energy</span></h1>
          </div>
        </div>
      </div>
    </div>
    <!-- END JUMBOTRON -->
    <div class="container-fluid padding-25 sm-padding-10 sm-gutter">
      <div class="row">
        <p>This is the energy screen</p>
      </div>

      <app-implement-slider *ngFor="let l of listings" [id]="l.id" [title]="l.title"></app-implement-slider>
    </div>
  </div>
</div>